/* general setting */
html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	padding-top: 2rem;
	background-color: rgb(230, 230, 230);
}

.body {
	padding: 20px;
}

/* navBar and login functin setting */
#userInfoNav #userNavName, #userInfoNav button {
	float: right;
}

#userNavName {
	position: absolute;
	right: 1.5rem;
	top: -5px;
	color: white;
	font-size: 0.75rem;
}

#userInfoNav::after {
	content: "";
	display: block;
	clear: both;
}

/* article list setting */
.sideBar {
	margin: 3rem 0;
}

.article-list-header {
	position: relative;
}

.header-text {
	display: inline;
}

/* article setting */
.loading-animation {
	text-align: center;
}

@keyframes loadingAnimation {
	0%	{
		background-color: yellow;
		left: 0;
	}
	25%	{
		background-color: red;
		left: 50px;
	}
	50%	{
		background-color: yellow;
		left: 0;
	}
	75%	{
		background-color: red;
		left: -50px;
	}
	100%{
		background-color: yellow;
		left: 0;
	}
}

.loading-dot {
	width: 1rem;
	height: 1rem;
	position: relative;
	margin: 1rem auto;
	border-radius: 50rem;
	background-color: red;
	animation-name: loadingAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.article {
	border-radius: 1rem;
	border: 1px solid rgb(200, 200, 200);
	margin: 1.5rem 0;
	padding: 0.75rem;	
	background-color: rgba(255, 255, 255, 0.7);
}

.article-author {
	font-size: 0.9rem;
}

.email {
	margin: 0 5px;
	color: gray;
	font-size: 0.75rem;
}

.date {
	margin: 0 5px;
	color: gray;
	font-size: 0.9rem;
}

.comment-list {
	padding: 0.75rem;
}

.comment-author {
	text-align: right;
	font-size: 0.9rem;
}


/* user info sidebar */
#userPhoto {
	display: block;
}

.title {
	font-size: 2rem;
	color: black;
}